
/*====================================
=            Upper Footer            =
====================================*/




.upper-footer {
	background: #fff url("images/bg-footer-form.jpg") center center no-repeat;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
	@include media($tablet) {
		padding-top: 80px;
		padding-bottom: 80px;
		
	}
	form {
		margin-top: 40px;
		#pot {position: absolute;}
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.type-singlelinetext {
			width: 100%;
			@include media($tablet) {
				width: 32%;
			}
		}
		.type-textarea {
			width: 100%;
			textarea {
				height: 140px;
			}
		}
		.type-submitbutton {
			margin: 0 auto;
		}
	}
}






.footer-logos {
	background: $primaryColor;
	margin: 0 auto;
	padding: 10px 20px;
	@include media($tablet) {
		padding: 10px 40px;
	}
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		@include media($tablet) {
			justify-content: space-between;
			flex-wrap: nowrap;
		}
	}
	li {
		margin: 10px 10px;
		width: 25%;
		@include media($tablet) {
			margin: 0 10px;
			width: auto;
		}
	}
}


/*====================================
=            Lower Footer            =
====================================*/

.lower-footer {
	text-align: center;
	background-color: $lightColor;
	color: $darkColor;
	padding-top: 40px !important;
	padding-bottom: 40px;
	@include media($desktop) {
		padding-bottom: 80px;
	}
}



.footer-location {
	background: #fff url("images/bg-footer-addy.jpg") center center no-repeat;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;

	@include media($tablet) {
		padding-top: 80px;
		padding-bottom: 80px;
		
	}
	.footer-address-box {
		display: inline-block;
		background: rgba($lightColor,.85);
		border: 1px solid $primaryColor;
		padding: 20px 20px;
		// width: 100%;

		@include media($tablet) {
			padding: 90px 120px;
		}
	}
	.footer-logo {
		display: inline-block;
		width: 200px;
		margin: 0 auto;
		margin-bottom: 40px;
		@include media($tablet) {
			width: 242px;
			
		}
	}
	.the-loc a {
		color: $darkColor;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.footer-social {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		margin-bottom: 30px;
		a {
			width: 35px;
			height: 35px;
			background: $primaryColor;
			color: $lightColor;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			margin: 0 2px;
			font-size: 25px;
			transition: all 0.2s ease-in-out;
			@include media($tablet) {
			margin: 0 4px;
				width: 40px;
				height: 40px;
			}
			&:hover {
				// background: $secondaryColor !important;
			}
		}
		 a:nth-of-type(1){background: #1c5a9e; }
		 a:nth-of-type(2) {background: #04a9f4; }
		  a:nth-of-type(3){background: #fd9b6a; }
		  a:nth-of-type(4){background: #ff0000; }
		  a:nth-of-type(5){background: #ca4738; }
		a:nth-of-type(6) {background: $primaryColor; }
	}
}


.footer-nav {
	display: none;
	@include media($desktop) {
		display: block;
		margin-bottom: 50px;
	}
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		@include media($tablet) {
		justify-content: space-between;
			flex-wrap: nowrap;
		}
		a {
			text-decoration: none;
			color: $darkColor;
			&:hover {
				text-decoration: underline;
			}
			@include media($tablet) {
				// font-size: 18px;
			}
		}
	}
}


.reviews_markup span {
	color: $darkColor;
}

.footer-disclaimer {
	display: none;
	padding-bottom: 40px;
}

.copyright,
.rm-sig, 
.footer-disclaimer {
	font-family: $primaryFont;
	text-align: center;
	color: $primaryAlt;
	font-size: 12px;
	line-height: 16px;
	@include media($desktop) {
		font-size: 16px;
		line-height: 28px;
	}
	a {
		color: $primaryAlt;
		text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}
}

.rm-sig  {
	svg {
		position: relative;
		top: 4px;
		left: 2px;
		width: 40px;
		height: auto;

		@include media($desktop) {
			top: 2px;
			left: 4px;
		}
		path {
			fill: #c7cdc5;
			transition: all 0.1s ease-in;
		}
		&:hover {
			path {
				fill: $secondaryColor;
			}
		}
	}
}
