/* Naviagation bar */

.nav-bar {
	z-index: 9998;
	border: 1px solid red;
	border: 1px solid rgba($primaryColor, 1);
	position: relative;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	// height: 160px;
	transition: all .2s ease-out;
	@include media($tablet) {
	
	}
	@include media($desktop) {
		left: 0px;
		right: 0px;
		top: 0px;
		> section {
		height: 160px;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			border: 1px solid red;
		} 
	}
	.is--ipad & {
		height: 60px;
	}
}

.nav-logo {
	position: relative;
	width: 242px;
}

.two-up-nav {
	width: calc(100% - 270px);
	text-align: right;
	// height: 160px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}


.nav-bar-phones {
	width: 100%;
	border-bottom: 2px solid $primaryColor;
	padding-bottom: 10px;
	margin-bottom: 10px;
	a {
		text-decoration: none;
		font-weight: bold;
		color: $darkColor;
	}
}

/* MOBILE NAV */
/* MOBILE NAV */
/* MOBILE NAV */

.menu-trigger {
	position: relative;
	padding: 15px 20px 15px 20px;
	height: 100%;
	position: absolute;
	right: 0px;
	background: $primaryAlt;
	width: 65px;
	.is--ipad & {
		position: absolute;
		right: 0px;
		display: block;
		width: 65px;
		@include media(1330px) {
			right: auto;
			left: 0px;
		}
	}
	@include media($desktop) {
		display: none;
	}
	.hamburger {
		border-radius: 4px;
		margin-top: 5px;
		display: block;
		position: relative;
		width: 100%;
		height: 2px;
		background: $secondaryColor;
		&:first-of-type {
			margin-top: 6px;
		}
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
}




/* Inside Page Headers */
/* Inside Page Headers */
/* Inside Page Headers */

.int-header {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 210px;
	margin-top: 140px;
	display: flex;
	@include media($tablet) {
		margin-top: 0px;
		padding-top: 0;
		background-size: cover;
		height: 530px;
		// .tmpl_type_rmg_single_case & {
		// 	height: 400px;
		// }
	}
	@include media($desktop) {
		background-position: center center;
		height: 730px;
		.tmpl_type_rmg_single_case & {
			height: 530px;
			.inside-logo {
				margin-top: 150px;
			}
		}
	}
}

// .inside-logo {
// 	background-color: #6d4c39;
// 	display: block;
// 	text-align: center;
// 	position: absolute;
// 	width: 100%;
// 	padding-top: 15px;
// 	padding-bottom: 15px;
// 	top: 60px;
// 	overflow: hidden;
// 	@include media($tablet) {
// 		background-color: transparent;
// 		width: auto;
// 		height: auto;
// 		position: relative;
// 		margin: 0 auto;
// 		margin-left: 10vw;
// 		margin-top: 180px;
// 	}
// 	@include media($desktop) {
// 		margin-top: 200px;
// 	}
// 	img {
// 		width: 200px;
// 		@include media($tablet) {
// 			margin: 0 auto;
// 			display: block;
// 			width: 350px;
// 		}
// 		@include media($desktop) {
// 			width: auto;
// 		}
// 	}
// }
