/* Naviagation bar */

.nav-bar {
	z-index: 8998;
	border: 1px solid red;
	border: 1px solid rgba($primaryColor, 1);
	background: $lightColor;
	position: relative;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	// height: 160px;
	transition: all .2s ease-out;
	@include media($tablet) {
	
	}
	@include media($desktop) {
		left: 0px;
		right: 0px;
		top: 0px;
	}
	> section {
		height: 60px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		border: 1px solid red;
		@include media($desktop) {
			height: 160px;
		}
	} 
	.is--ipad & {
		height: 60px;
	}
}

.nav-logo {
	position: relative;
	width: auto;
	img {
		height: 50px;
		@include media($desktop) {
			height: auto;
		}
	}
	@include media($desktop) {
		width: 242px;
	}
}

@include media($desktop) {
	.two-up-nav {
		width: calc(100% - 270px);
		text-align: right;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	}
}


.nav-bar-phones {
	width: 100%;
	background: $primaryColor;
	// position: relative;
	// left: right;
	@include media($desktop) {
		background: transparent;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 2px solid $primaryColor;
	}
	span {
		display: none;
		@include media($desktop) {
			display: inline-block;
		}
	}
	i {
		color: $lightColor;
		display: block;
		@include media($desktop) {
			display: none;
		}
	}
	a {
		text-decoration: none;
		font-weight: bold;
		color: $darkColor;
		display: block;
		@include media($desktop) {
			display: inline-block;
		}
	}
}



/* MOBILE NAV */
/* MOBILE NAV */
/* MOBILE NAV */

.menu-trigger {
	display: none;
	z-index: 8999;

	position: relative;
	padding: 15px 20px 15px 20px;
	position: fixed;
	right: 0px;
	background: $primaryColor;
	width: 65px;
	.is--ipad & {
		position: absolute;
		right: 0px;
		display: block;
		width: 65px;
		@include media(1330px) {
			right: auto;
			left: 0px;
		}
	}
	@include media($desktop) {
		display: none;
	}
	.hamburger {
		border-radius: 4px;
		margin-top: 5px;
		display: block;
		position: relative;
		width: 100%;
		height: 2px;
		background: $lightColor;
		&:first-of-type {
			margin-top: 6px;
		}
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
}




/* Inside Page Headers */
/* Inside Page Headers */
/* Inside Page Headers */

.int-header {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 210px;
	margin-top: 140px;
	display: flex;
	@include media($tablet) {
		margin-top: 0px;
		padding-top: 0;
		background-size: cover;
		height: 530px;
	}
	@include media($desktop) {
		background-position: center center;
		height: 730px;
	}
}

