/* Naviagation bar */

.nav-bar {
	z-index: 1;
	// border: 1px solid rgba($primaryColor, 1);
	background: $lightColor;
	position: relative;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	// height: 160px;
	transition: all .2s ease-out;
	@include media($tablet) {
	
	}
	@include media($desktop) {
		left: 0px;
		right: 0px;
		top: 0px;
	}
	> section {
		height: 60px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		@include media($desktop) {
			height: 160px;
		}
	} 
	.is--ipad & {
		height: 60px;
	}
}

.nav-logo {
	position: relative;
	width: auto;
	img {
		height: 40px;
		@include media($desktop) {
			height: auto;
		}
	}
	@include media($desktop) {
		width: 242px;
	}
}

@include media($desktop) {
	.two-up-nav {
		width: calc(100% - 270px);
		text-align: right;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	}
}


.nav-bar-phones {
	background: $primaryColor;
	position: absolute;
	right: 70px;
	left: auto;
	top: 0;
	// left: right;
	display: flex;
	@include media($desktop) {
		right: auto;
		width: 100%;
		position: relative;
		display: block;
		background: transparent;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 2px solid $primaryColor;
	}
	span {
		display: none;
		@include media($desktop) {
			display: inline-block;
		}
	}
	i {
		color: $lightColor;
		display: block;
		font-size: 25px;
		padding-top: 5px;
		@include media($desktop) {
			display: none;
		}
	}
	a {
		width: 60px;
		height: 60px;
		text-decoration: none;
		color: $darkColor;
		display: flex;
		align-items: center;
		flex-direction: column;
		color: $lightColor;
		text-transform: uppercase;
		border-right: 1px solid #fff;
		@include media($desktop) {
			text-transform: none;
			font-weight: bold;
			color: $darkColor;
			width: auto;
			height: auto;
			display: inline-block;
			margin-left: 20px;
		}
	}
}



/* MOBILE NAV */
/* MOBILE NAV */
/* MOBILE NAV */

.menu-trigger {
	position: relative;
	padding: 5px 20px 15px 20px;
	position: absolute;
	right: 0px;
	background: $primaryColor;
	width: 70px;
	height: 60px;
	.is--ipad & {
		position: absolute;
		right: 0px;
		display: block;
		width: 65px;
		@include media(1330px) {
			right: auto;
			left: 0px;
		}
	}
	@include media($desktop) {
		display: none;
	}
	.hamburger {
		border-radius: 4px;
		margin-top: 5px;
		display: block;
		position: relative;
		width: 100%;
		height: 2px;
		background: $lightColor;
		&:first-of-type {
			margin-top: 6px;
		}
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	// position: relative;
	.trigger-text {
		color: $lightColor;
		position: relative;
		// bottom: 10px;
		margin-top: 3px;
		margin-left: -7px;

	}
}


/* Inside Page Headers */
/* Inside Page Headers */
/* Inside Page Headers */

.int-header {
	height: 60px;
	@include media($desktop) {
		height: 200px;
	}
}

